@import "tailwindcss";

@keyframes toast {
  0% { opacity: 0; transform: translate(-50%, -20px); }
  10% { opacity: 1; transform: translate(-50%, 0); }
  90% { opacity: 1; transform: translate(-50%, 0); }
  100% { opacity: 0; transform: translate(-50%, -20px); }
}

.animate-toast {
  animation: toast 1.5s ease-out forwards;
}

.menu-icon {
  @apply text-green-700 hover:text-green-900 cursor-pointer;
}